<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Rating</th>
      <th>Introduced At</th>
      <th>Photo File Name</th>
      <th>Reviews Count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.Id }}</td>
      <td>{{ product.Name }}</td>
      <td>{{ product.Type }}</td>
      <td>{{ product.Description }}</td>
      <td>{{ product.Price }}</td>
      <td>{{ product.Stock }}</td>
      <td>{{ product.Rating }}</td>
      <td>{{ product.IntroducedAt }}</td>
      <td>{{ product.PhotoFileName }}</td>
      <td>{{ product.Reviews.length }}</td>

    </tr>
  </tbody>
</table>
